*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: white;
    margin: 0;
}


/*Responsive para computadoras*/

.homescreen{
    background-image: url(https://i.ibb.co/xjNcXLj/fondohome.jpg);
    background-size: cover;
    background-position: center right;
}


.logopk{
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.logopk:hover{
    cursor: pointer;
}

nav, header{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    background-color: #FFCD02;
    padding: 10px;
    width: 100%;
}

nav a{ 
    color: blue;
    text-decoration: none;
}

nav li{
    display: inline-block;
    width: 15%;
    padding: 5px 10px;
    background-color: none;
    border: none;
    color: blue;
    margin: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

nav li:hover{
    background-color:rgba(0%, 0%, 100%, .3);
    color:#fff;
}

nav li:active{
    background-color: rgba(0%, 0%, 100%, .4);
    color:blue;
    border-left-style: solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: none;
    border-bottom: none;
    border-color: blue;
    font-weight: bold;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 28px; 


    margin: 40px;
    text-align: center;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin-top: 60px;
}

.intro-text{
    background-color: #ffffff6e;
    margin: 60px 40px;
    padding: 20px 340px 20px 40px;
    text-align: left;
}

.box-article, .title5, .news{
    background-color: none;
    padding: 60px 60px 60px 20px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #525252;
}

.title5{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: blue;
    padding-top: 20px;
}

.readmorebutton{
    background-color: #ffffffb4;
    padding: 5px 15px;
    border: solid;
    border-width: 4px;
    border-color: rgba(0%, 0%, 100%, .5);
    border-radius: 10px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgba(0%, 0%, 100%, .5);
    float: right;
    margin-bottom: 40px;
    margin-top: 0px;
}

.readmorebutton:hover{
    background-color: #fff;
    color:blue;
    border: solid;
    border-width: 4px;
    border-color: blue;
    border-radius: 10px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: inline-block;
    margin: 20px;
}

.select-list{
    color: #525252;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
}

.select{
    display: inline-block;
    background-color: rgba(255, 204, 2, 0.9);
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #525252;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 140px;
    letter-spacing: 0.5px;
    margin: 10px;
}

#listSelect, #news-screen, #estadisticas-screen{
    display: none;
}

header{
    display: block;
}

#showPokemones{
    display: flex; 
    flex-flow: wrap;
    width: 100%;
    margin: 0px;
    justify-content: center;
}

.cartPk{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    width: 220px;
    height: 300px;
    border: solid;
    border-color: #525252;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.cartPk1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0%, 0%, 100%, .4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 5px;
}

.imgPk{
    height: 50%;
    background-color: none;
    align-content: center;
    text-align: center;
    align-items: center;
}

#pokeName, #pokedex{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    align-content: center;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calculo-buttons{
    margin: 20px;
    list-style: none;
}

.calcubuttons{
    background-color: #DBDBDB;
    color: #525252;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 12px;
    margin: 20px;
    vertical-align: 20px;
}

.calcubuttons:hover{
    background-color: #FFCD02;
}

.calcubuttons:active{
    background-color: #FFCD02;
}





/*Responsive para telefonos grandes y tablets*/

@media screen and (min-width:500px) and (max-width:1024px){

    .logopk{
        height: 50px;
        margin-top: 10px;
    }

    nav, header{
        padding: 5px;
        font-size: 13px;
    }

    nav li{
        padding: 5px;
        font-size: 12px;
    }
    
    h2{
        font-size: 28px;
    }

    h3{

        font-size: 24px; 
    }

    h4{
        font-size: 18px;
    }
    
    .intro-text{
        margin: 20px 40px;
        padding: 40px;
        text-align: center;
    }
    
    .box-article, .title5{
        padding: 40px 10px 40px 20px;
    }

    .title5{
        font-size: 16px;
    }
    
    .readmorebutton{
        font-size: 12px;
        margin-bottom: 40px;
        margin-top: 0px;
    }
    
    p{
        margin: 10px;
        text-align: center;
    }
    
    .select-list{
        padding: 15px;
    }
    
    .select{
        font-size: 11px;
        height: 28px;
        padding: 2px;
        width: 110px;
        letter-spacing: 0.3px;
        margin: 5px;
        align-content: center;
    }
    
    .cartPk{
        margin: 20px;
        width: 165px;
        height: 225px;
    }
    
    .cartPk1{
       font-size: 14px;
    }
    
    #pokeName, #pokedex{
        font-size: 14px;
        width: 135px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}





/*Responsive para telefonos*/

@media screen and (max-width:500px){
    
    .logopk{
        height: 40px;
        margin-top: 10px;
    }

    nav, header{
        font-size: 11px;
    }

    nav li{
        padding: 5px;
        font-size: 12px;
    }

    h2{
        font-size: 24px;
    }

    h3{

        font-size: 20px; 

        

        text-align: center;
    }

    h4{
        font-size: 18px;
        text-align: justify;
        margin-bottom: 10px;
    }
    
    .intro-text{
        margin: 20px 10px;
        padding: 20px;
        text-align: center;
    }
    
    .box-article, .title5{
        padding: 5px 10px 10px 15px;
    }

    .title5{
        font-size: 14px;
    }
    
    .readmorebutton{
        border-width: 3px;
        font-size: 11px;
    }
    
    .select-list{
        font-size: 10px;
    }
    
    .select{
        font-size: 11px;
        height: 28px;
        padding: 2px;
        width: 100px;
        letter-spacing: 0.3px;
        margin: 5px;
        align-content: center;
    }    

    .cartPk{
        margin: 10px;
        width: 110px;
        height: 150px;
    }
    
    .cartPk1{
        font-size: 12px;
    }

    #pokeName, #pokedex{
        font-size: 12px;
        width: 60px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


.icono i{
    font-size: 120%
}

footer{
    display: flex;
    align-self: end;
}