/*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/

body{
    background-color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}


/*Responsive  general para computadoras*/

.homescreen{
    background-image: url(../Imgs_DataLovers/fondohome.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.logopk{
    height: 90px;
    margin-top: 10px;

}

.logopk:hover{
    cursor: pointer;
}
nav {
    background-color: #FFCD02;
}
nav, header{
   
    display: inline-flexbox;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

nav a{ 
    font-family: 'Source Serif Pro', serif;
    color: blue;
    text-decoration: none;
}

nav ul{
    justify-content: center;
    padding: 0;
}

nav li{
    background-color: none;
    border: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 5px 10px;
    text-align: center;
    width: 15%;
}

nav li:hover{
    background-color:rgba(0%, 0%, 100%, .3);
}


h2{
    font-family: 'Source Serif Pro', serif;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

h3{
    font-family:  'Muli', sans-serif;
    font-size: 28px; 
    margin: 40px;
    text-align: center;
}

h4{
    font-family:  'Muli', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin-top: 60px;
}

.intro-text{
    margin: 60px 40px;
    padding: 20px 340px 160px 40px;
    text-align: left;
}

.box-article, .title5, .news{
    background-color: none;
    color: #525252;
    padding: 60px 60px 60px 20px;
    text-align: left;
}

.title5{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

.readmorebutton{
    font-family: 'Source Serif Pro', serif;
    text-decoration: none;
    background-color: #ffffffb4;
    border: solid;
    border-color: rgba(0%, 0%, 100%, .5);
    border-radius: 10px;
    border-width: 4px;
    color: rgba(0%, 0%, 100%, .5);
    float: right;
    font-size: 14px;
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 0px;
    padding: 5px 15px;
}

.readmorebutton:hover{
    background-color: #fff;
    border: solid;
    border-color: blue;
    border-radius: 10px;
    border-width: 4px;
    color:blue;
}

p{
    display: inline-block;
    font-size: 12px;
    margin: 20px;
}

.select-list{
   
    color: #525252;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
}

.select{
    font-family: 'Source Serif Pro', serif;
    background-color: rgba(255, 204, 2, 0.9);
    border: solid;
    border-color: #525252;
    border-radius: 10px;
    border-width: 2px;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    letter-spacing: 0.5px;
    margin: 10px;
    padding: 5px;
    width: 140px;
}

#listSelect, .news-screen, #estadisticas-screen{
    display: none;
}

header{
    display: block;
}

#showPokemones{
    display: flex; 
    flex-flow: wrap;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.cartPk{
    border: solid;
    border-color: #525252;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    margin: 30px;
    width: 220px;
}

.cartPk1{
    font-family: 'Noto Sans SC', sans-serif;
    background-color: rgba(0%, 0%, 100%, .4);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 125px;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.imgPk{
    align-content: center;
    background-color: none;
    height: 55%;
    justify-content: center;
    text-align: center;
}

#pokeName, #pokedex, #pokeHeigth, #pokeWeigth{
    font-family: 'Noto Sans SC', sans-serif;
    color: blue;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    width: 170px;
}

#pokeHeigth, #pokeWeigth{
    font-size: 14px;
    font-weight: 400;
}

.calculo-buttons{
    list-style: none;
    margin: 20px;
}

.calcubuttons, .buttoncard{
    font-family: 'Source Serif Pro', serif;
    background-color: #DBDBDB;
    border: none;
    border-radius: 8px;
    color: #525252;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    letter-spacing: 0.2px;
    margin: 20px;
    vertical-align: 20px;
    width: 120px;
}

.calcubuttons:hover{
    background-color: rgb(253, 216, 69);
}

.calcubuttons:active{
    background-color: #FFCD02;
}

.contListCalc{
    text-align: center;
}

.calcResult{
    align-items: center;
}

   

/*Responsive para telefonos grandes y tablets*/

@media screen and (min-width:680px) and (max-width:1024px){

    .logopk{
        height: 70px;
        margin-top: 10px;
    }

    nav, header{
        font-size: 13px;
        padding: 5px;
    }

    nav li{
        font-size: 14px;
        padding: 5px;
    }
    
    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px; 
    }

    h4{
        font-size: 18px;
    }
    
    .intro-text{
        margin: 20px 40px;
        padding-bottom: 160px;
        padding-right: 200px;
    }
    
    .box-article, .title5{
        padding: 40px 10px 40px 20px;
    }

    .title5{
        font-size: 16px;
    }
    
    .readmorebutton{
        font-size: 12px;
        margin-bottom: 40px;
        margin-top: 0px;
    }
    
    p{
        margin: 10px;
        text-align: center;
    }
    
    .select-list{
        padding: 15px;
    }
    
    .select{
        align-content: center;
        font-size: 11px;
        height: 28px;
        letter-spacing: 0.3px;
        margin: 5px;
        padding: 2px;
        width: 110px;
    }
    
    .cartPk{
        height: 225px;
        margin: 25px;
        margin-top: 40px; 
        width: 165px;
    }
    
    .cartPk1{
        height: 90px;
        justify-content: center;
    }
    
    #pokeName, #pokedex, #pokeHeigth, #pokeWeigth{
        font-size: 12px;
        margin-top: 5px;
        width: 135px;
    }
    #pokeHeigth, #pokeWeigth{
        font-size: 11px;
        font-weight: 400;
    }
}


/*Responsive para telefonos*/

@media screen and (max-width:680px){
    
    .logopk{
        height: 50px;
        margin-top: 10px;
    }

    nav, header{
        font-size: 11px;
        justify-content: center;
    }

    nav li{
        font-size: 12px;
        padding: 5px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 20px; 
        text-align: center;
    }

    h4{
        font-family: 'Noto Sans SC', sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: justify;
    }
    
    .intro-text{
        background-color: #ffffff6e;
        margin: 20px 10px;
        padding: 20px;
        text-align: center;
    }
    
    .box-article, .title5{
        padding: 5px 10px 10px 15px;
    }

    .title5{
        font-size: 14px;
    }
    
    .readmorebutton{
        border-width: 3px;
        font-size: 11px;
    }
    
    .select-list{
        font-size: 10px;
        justify-content: center;
        width: 100%;
    }
    
    .select{
        display: flex;
        font-size: 11px;
        letter-spacing: 0.3px;
        padding: 2px;
    }    

    .cartPk{
        height: 150px;
        justify-content: center;
        margin: 10px;
        width: 110px;
    }
    
    .cartPk1{
        height: 60px;
        justify-content: center;
        width: 100px;
    }

    #pokeName, #pokedex, #pokeHeigth, #pokeWeigth{
        font-size: 11px;
        margin-top: 2px;
        width: 60px;
    }

    #pokeHeigth, #pokeWeigth{
        font-size: 10px;
        font-weight: 400;
    }
}

.icono i{
    font-size: 120%;
}


footer{
    display: inline-flex;
    align-content: flex-end;
    flex-direction: column;
    align-self: flex-end
    
}
.icono , .names{
    display: inline-flex;
    align-content: flex-end;
    align-items: flex-end

      
}
